@font-face {
  font-family: 'Poppins';
  src: url('Poppins/Poppins-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';

  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2a323f;
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #52fe9a;
  box-shadow: 0 0 25px #52fe9a;
  overflow: hidden;
}

.container .form-box {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-box.login {
  left: 0;
  padding: 40px;
  transition: 0.5s;
}
.form-box.Login .animation {
  transform: translateX(0%);

  transition: 0.7s;
  opacity: 1;
  transition-delay: calc(0.1s * var(--S));
}
.container.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  transition-delay: calc(0.1s * var(--D));
}
.form-box.Signup {
  right: 0;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}
.form-box.Signup .animation {
  transform: translateX(120%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--S));
}
.container.active .form-box.Signup .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0px);
  transition-delay: calc(0.1s * var(--li));
}
.form-box h2 {
  text-align: center;
  font-size: 32px;
}
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.input-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-right: 32px;
  transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid {
  border-bottom: 2px solid #52fe9a;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #52fe9a;
}
.input-box i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.5s;
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: #52fe9a;
}
.btn {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  border: 2px solid #52fe9a;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300%;
  background: linear-gradient(#2a323f, #52fe9a, #2a323f, #52fe9a);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover::before {
  top: 0;
}
.regi-link {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 14px;
}
.regi-link a {
  color: #52fe9a;
  text-decoration: none;
  font-weight: 600;
}
.regi-link a:hover {
  text-decoration: underline;
}
.info-content {
  position: absolute;
  top: 0;
  height: 55%;
  width: 45%;
  right: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-content.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}
.info-content.login .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--S));
  opacity: 1;

  filter: blur (0px);
}
.container.active .info-content.login .animation {
  transform: translateX(120%);
  opacity: 0;
  transition-delay: calc(0.1s * var(--D));
  filter: blur(10px);
}
.info-content.Signup {
  left: 0;
  text-align: left;
  padding: 0  40px ;
}
.info-content.Signup .animation {
  transform: translateX(-120%);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--S));
  opacity: 0;
  left: 20px;

  filter: blur(10px);
  
}
.container.active .info-content.Signup .animation {
  transform: translateX(120%);
  opacity: 1;
  transition-delay: calc(0.1s * var(--li));
  filter: blur(0px);
}
.info-content h2 {
    white-space:  nowrap;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.3;
}
.info-content p {
  font-size: 16px;
  color:#ccc;
  line-height: 1.5;
  margin-top: 10px;
  min-width: 300px;
}
.container .curved-shape {
  position: absolute;
  right: 0;
  top: -5px;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #2a323f, #52fe9a);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}
.container.active .curved-shape {
  transform: rotate(0deg) skewY(0deg);
  transition-delay: 0.5s;
}
.container .curved-shape2 {
  position: absolute;
  left: 600px;
  top: 100%;
  width: 850%;
  height: 700%;
  background: #2a323f;
  border-top: 3px solid #52fe9a;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}
.container.active .curved-shape2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}
